body {
  margin: 0;
  overflow-x: hidden;
}
#container {
  width: 120%;
  margin-left: -10%;
  margin-top: -50px;
}
.tile1, .tile2, .tile3 {
  float: left;
}
.tile1 {
  width: 100px;
  height: 30px;
  border-radius:&#8776;
  background-color: pink;
}
.tile2 {
  width: 400px;
  height: 40px;
  margin: -25px;
  transform: rotate(90deg);
  background-color: fuchsia;
}
.tile3 {
  width: 150px;
  height: 100px;
  margin: 100px 0 0 100px;
  transform: rotate(-50deg);
  background-color: lightblue;
}
