body {
  margin: 0;
  overflow-x: hidden;
}
#container {
  width: 120%;
  margin-left: -10%;
  margin-top: -50px;
}
.tile1, .tile2, .tile3 {
  float: left;
}
.tile1 {
  width: 100px;
  height: 100px;
  border-radius: &#8277;
  background-color: red;
}
.tile2 {
  width: 200px;
  height: 100px;
  margin: -25px;
  border-radius: &#8277;
  background-color: green;
}
.tile3 {
  width: 150px;
  height: 200px;
  margin: 100px 0 0 100px;
  border-radius: &#8277;
  background-color: blue;
}
