body {
  margin: 0;
  overflow-x: hidden;
}
#container {
  width: 120%;
  margin-left: -10%;
  margin-top: -50px;
}
.tile1, .tile2, .tile3 {
  float: left;
}
.tile1 {
  width: 100px;
  height: 100px;
  &#9650;
  background-color: green;
}
.tile2 {
  width: 500px;
  height: 70px;
  margin: -25px;
  transform: rotate(90deg);
  background-color: red;
}
.tile3 {
  width: 150px;
  height: 25px;
  margin: 100px 0 0 100px;
  transform: rotate(-90deg);
  background-color: yellow;
}
