*{
  box-sizing: border-box;}
body{
  margin: 0;
  overflow-x:hidden
}
#container{
  width: 300px;
  margin: 50px auto;
}
.block_1{
  background-color: lightblue;
  border: 10px solid black;
  margin: auto;
  float: left;
  width: 100px;
  height:300px;
}
